header{
    background-color: brown;
    text-align: center;
    padding: 30px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 60px;
}
main{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
h1{
    color: white;
}
img{
    width: 150px;
    border-radius: 50%;
}
footer{
    background-color: brown;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    border-radius: 0px 0px 10px 10px;
}
article{
    text-align: center;
    padding: 10px;
    background-color: #1b506f;
    display: flex;
    flex-direction: column-reverse;
    margin: 5px;
}